<!DOCTYPE html>
<html lang="">
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="frontend_controller.js"></script>
<script src="index.js"></script>

<head>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anomaly Detection WebApp</title>
</head>
<body>

<div class="split up left">
    <div id="chartContainer" style="width: 100%; height: 90%;display: none;"></div>
    <div id="loading" style="display: none;">
        <section style="display: inline-block">
            <div id="loader" class="loader" style="display: none; position: center">
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
                <span style="--i:4;"></span>
                <span style="--i:5;"></span>
                <span style="--i:6;"></span>
                <span style="--i:7;"></span>
                <span style="--i:8;"></span>
                <span style="--i:9;"></span>
                <span style="--i:10;"></span>
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:13;"></span>
                <span style="--i:14;"></span>
                <span style="--i:15;"></span>
                <span style="--i:16;"></span>
                <span style="--i:17;"></span>
                <span style="--i:18;"></span>
                <span style="--i:19;"></span>
                <span style="--i:20;"></span>
            </div>
        </section>
    </div>
</div>
<div class="split up right" >
    <h2>Lists will be HERE</h2>
    <form name="form1">
        <select id="lstValue" name="lstValue" size="23" onchange="selectFeature()"></select>
    </form>
    <p id="listOfFiles"></p>
</div>


<div class="split down left" >
    <input type="file" id="trainFile" onchange="saveTrainFile(this)" accept=".csv">
    <input type="file" id="testFile" onchange="saveTestFile(this)" accept=".csv">
    <br> <br> <br>
    <div>
        <input type="radio" id="regression" name="modelType" value="regression" checked="checked">
        <label for="regression">linear regression</label><br>
        <input type="radio" id="hybrid" name="modelType" value="hybrid">
        <label for="hybrid">hybrid</label><br>
    </div>
</div>
<div class="split down right">
    <input type="submit" onclick="submit()">
    <br>
    <p id="errorOnSubmit"></p>
</div>
</body>
</html>
