* {
    margin: 0;
    /*padding: 0;*/
    box-sizing: content-box;
}

/* Split the screen in half */
.split {
    position: fixed;
    padding: 3%;
}

/* Control the left side */
.left {
    width: 75%;
    left: 0;
    background-color: #111;
}

/* Control the right side */
.right {
    width: 25%;
    right: 0;
    background-color: red;
}

/* Control the left side */
.up {
    height: 70%;
    top: 0;
    background-color: #FFEEFFEE;
}

/* Control the right side */
.down {
    height: 30%;
    bottom: 0;
    background-color: #EEFFEEFF;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: #042104;
    animation: animateBg 10s linear infinite;
}
@keyframes animateBg {
    0%
    {
        filter: hue-rotate(0deg);
    }
    0%
    {
        filter: hue-rotate(360deg);
    }
}
section .loader {
    position: absolute;
    width: 120px;
    height: 120px;
}

section .loader span {
    position: absolute;
    justify-content: center;
    align-items: center;
    /*top: 150%;
    Left: 550%;*/
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

section .loader span::before {
    content: '';
    position: absolute;
    top: 0;
    Left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00ff0a;
    box-shadow: 0 0 10px #00ff0a,
    0 0 20px #00ff0a,
    0 0 40px #00ff0a,
    0 0 60px #00ff0a,
    0 0 80px #00ff0a,
    0 0 100px #00ff0a;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
    0%
    {
        transform: scale(1);
    }
    80%,100%
    {
        transform: scale(0);
    }
}